/* dl.html 页面专用样式 */

/* 字体定义 */
@font-face {
    font-family: '江城斜黑体';
    src: url('/font/Italic.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* 目前该页面使用 index.css 中的通用样式，无需额外的专用样式 */